@model IEnumerable<PeopleProTraining.Models.Building>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Index";
}
<div style="color:azure;">

    <h2>Buildings</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="#" data-toggle="popover" title="@item.Name Times" html="true" data-Content=" Opens:@item.Opens     Closes: @item.Closes         Location:@item.Location"> Hours</a>

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BuildingID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BuildingID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BuildingID })
                </td>
            </tr>
        }

    </table>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
<style>
    .popover {
    border: 2px dotted red;
}

/* Popover Header */
.popover-title {
    background-color: black;
    color: whitesmoke;
    font-size: 28px;
    text-align:center;
}

/* Popover Body */
.popover-content {
    background-color: whitesmoke;
    color: black;
    padding: 25px;
}

/* Popover Arrow */
.arrow {
    border-right-color: red !important;
}
</style>